.git
.github
node_modules
.next
out
build
coverage
playwright-report
test-results
blob-report
**/.env*
**/.npmrc
**/*.pem
**/*.key
*.tsbuildinfo
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vercel
deploy
